<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samples</title>
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div th:replace="fragments :: navigation-sidebar"></div>
<div>
    <h1>Create a new sample</h1>
</div>
<form th:action="@{/samples}" th:object="${sample}"
      method="post">
    <div>
        <div>
            <label>Sample name: </label>
            <input type="text" th:field="*{sampleName}" required/>
        </div>
        <div>
            <label>Sample category: </label>
            <input type="text" th:field="*{sampleCategory}" required/>
        </div>
        <div>
            <label>Molecular weight (kDa): </label>
            <input type="text" th:field="*{molecularWeight}" required />
        </div>
        <div>
            <label>Is complex? </label>
            <input type="text" th:field="*{isComplex}" />
        </div>

        <div>
            <label>Stoichiometry: </label>
            <input type="text" th:field="*{stoichiometry}" required/>
        </div>
        <div>
            <label>Comments: </label>
            <input type="text" th:field="*{comments}" maxlength="512"/>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
</form>
</body>
</html>