<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Samples</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </p>
        <input type="submit" value="Sign Out" />
    </form>
</div>
<div>
    <h1>Create a new sample</h1>
</div>
<form th:action="@{/process_samples_add}" th:object="${sample}"
      method="post">
    <div>
        <div>
            <label>Sample name: </label>
            <input type="text" th:field="*{sampleName}" required/>
        </div>
        <div>
            <label>Sample category: </label>
            <input type="text" th:field="*{sampleCategory}" required/>
        </div>
        <div>
            <label>Molecular weight (kDa): </label>
            <input type="text" th:field="*{molecularWeight}" required />
        </div>
        <div>
            <label>Is complex? </label>
            <input type="text" th:field="*{isComplex}" required />
        </div>

        <div>
            <label>Stoichiometry: </label>
            <input type="password" th:field="*{stoichiometry}" required/>
        </div>
        <div>
            <label>Comments: </label>
            <input type="password" th:field="*{comments}" maxlength="512"/>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
</form>
</body>
</html>