<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Samples</h1>
    </div>
    <div>
        <h3><a th:href="@{/samples/add}">Add new sample</a></h3>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>M.W. (kDa)</th>
                <th>Complex</th>
                <th>Stoichiometry</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sample: ${listSamples}">
                <td th:text="${sample.sampleName}">Name</td>
                <td th:text="${sample.sampleCategory}">Category</td>
                <td th:text="${sample.molecularWeight}">M.W. (kDa)</td>
                <td th:text="${sample.isComplex}">Complex</td>
                <td th:text="${sample.stoichiometry}">Stoichiometry</td>
                <td th:text="${sample.comments}">Comments</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>