<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Fragments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Part of the header and footer html is based on https://getbootstrap.com/docs/5.0/components/navbar/ -->
    <!--    Loupe icons created by rukanicon - Flaticon-->
</head>
<body>

<div th:fragment="page-header">
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}"><b>CryoNotes</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-bs-toggle="dropdown"
                           aria-expanded="false">Components</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" th:href="@{/samples/all}">Samples</a></li>
                            <li><a class="dropdown-item" th:href="@{/microscopes/all}">Microscopes</a></li>
                            <li><a class="dropdown-item" href="#">Grids</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-bs-toggle="dropdown"
                           aria-expanded="false">Experiments</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" th:href="@{/screenings/all}">Screenings</a></li>
                            <li><a class="dropdown-item" href="#">Data collection</a></li>
                            <li><a class="dropdown-item" href="#">Data processing</a></li>
                            <li><a class="dropdown-item" href="#">Refinement</a></li>
                            <li><a class="dropdown-item" href="#">Validation</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="navbar-nav align-items-center" th:if="${currentObject != null}">
                    <li class="nav-item">
                        <form class="input-group" th:action="@{|/${currentObject}/search/result|}"
                              method="get">
                            <input type="text" class="form-control" th:placeholder="|Search in ${currentObject}|"
                                   name="keyword" id="keyword" size="20" th:value="${keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary navbar btn-sm" type="submit">&#x1f50d;
                                </button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item ps-3">
                        <a th:href="@{|/${currentObject}/advanced_search|}">
                            <button type="submit" class="btn navbar-btn btn-secondary btn-sm">Advanced
                                &#x1f50d;
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="page-footer">
    <nav class="navbar fixed-bottom navbar-light bg-light py-0">
        <div class="container-fluid d-flex">
            <div class="navbar-text">
                Created by <a href="https://github.com/jespinol?tab=repositories" target="_blank" rel="noreferrer"
                              style="text-decoration: none">Jose M. Espinola-Lopez</a>
            </div>
            <div>
                <form th:action="@{/logout}" method="post" class="navbar-text"> Welcome, <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                    &nbsp;
                    <input class="btn btn-secondary navbar-btn btn-sm" type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="start-title-image" class="col-md-9 col-lg-6 col-xl-5 text-center">
    <h1><a th:href="@{/home}" class="text-decoration-none text-dark">CryoNotes</a></h1>
    <br>
    <a href="https://en.wikipedia.org/wiki/Nucleosome">
        <img th:src="@{/images/login/ncp.jpg}" class="rounded"
             alt="NCP image">
    </a>
</div>

<div th:fragment="go-back-home">
    <h6><a th:href="@{/home}" class="text-decoration-none">&#8592; Go back</a></h6>
</div>

<div th:fragment="go-back-page">
    <h6><a th:href="@{'/' + ${currentObject} + '/all'}" class="text-decoration-none">&#8592; Go back</a></h6>
</div>

<div th:fragment="go-back-up">
    <h6><a <a href="#" onclick="javascript:window.history.back(-1);return false;" class="text-decoration-none">&#8592;
        Go back</a></h6>
</div>

<div th:fragment="pagination" class="d-flex">
    <div class="btn-group dropup">
        <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" type="button"
                data-bs-toggle="dropdown">Rows per page &nbsp;
        </button>
        <ul class="dropdown-menu dropdown-menu-end" style="min-width: 60px !important;">
            <li><a class="dropdown-item"
                   th:href="@{'/' + ${currentObject} + '/all?pageNo=0' + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=5'}">5</a>
            </li>
            <li><a class="dropdown-item"
                   th:href="@{'/' + ${currentObject} + '/all?pageNo=0' + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=20'}">20</a>
            </li>
            <li><a class="dropdown-item"
                   th:href="@{'/' + ${currentObject} + '/all?pageNo=0' + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=100'}">100</a>
            </li>
            <li><a class="dropdown-item"
                   th:href="@{'/' + ${currentObject} + '/all?pageNo=0' + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=100'}">All</a>
            </li>
        </ul>
    </div>
    <div class="pagination ms-auto">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{'/' + ${currentObject} + '/all?pageNo=' + ${currentPage - 1} + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=' + ${pageSize}}">Previous</a>
            <a class="page-link" th:unless="${currentPage > 0}" style="color: gray"> Previous</a>
        </li>

        <li class="page-item" th:each="i: ${#numbers.sequence(0, totalPages -1)}">
            <a class="page-link" th:if="${currentPage != i}"
               th:href="@{'/' + ${currentObject} + '/all?pageNo=' + ${i} + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=' + ${pageSize}}">[[${i
                + 1}]]</a>
            <a class="page-link" th:unless="${currentPage != i}"
               th:href="@{'/' + ${currentObject} + '/all?pageNo=' + ${i} + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=' + ${pageSize}}"
               style="color: gray">[[${i + 1}]]</a>
        </li>

        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages - 1}"
               th:href="@{'/' + ${currentObject} + '/all?pageNo=' + ${currentPage + 1} + '&ascending=' + ${ascending} + '&sortBy=' + ${sortBy} + '&pageSize=' + ${pageSize}}">Next</a>
            <a class="page-link" th:unless="${currentPage < totalPages -1}" style="color:gray">Next</a>
        </li>
    </div>
</div>

</body>
</html>