<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <title>CryoNotes</title>
</head>
<body>

<div th:fragment="page-header-home">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                <input type="submit" value="Sign Out" />
            </p>
        </form>
    </div>
</div>

<div th:fragment="page-header">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                <input type="submit" value="Sign Out" />
            </p>
        </form>
    </div>
</div>

<div th:fragment="navigation-sidebar">
    <div>
        <div>
            <a th:href="@{/home}">Home</a>
        </div>
        <div>
            <span>Components</span>
        </div>
        <ul>
            <li><a th:href="@{/samples}">Samples</a></li>
            <li><a href="#">Microscopes</a></li>
            <li><a href="#">Grids</a></li>
        </ul>
        <div>
            <span>Experiments</span>
        </div>
        <ul>
            <li><a th:href="@{/screenings}">Screenings</a></li>
            <li><a href="#">Data collection</a></li>
            <li><a href="#">Data processing</a></li>
            <li><a href="#">Refinement</a></li>
            <li><a href="#">Validation</a></li>
        </ul>
    </div>
</div>

<!--<div th:fragment="search-bar">-->
<!--    <form th:action="@{/samples/search}" method="get">-->
<!--        Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />-->
<!--        <input type="submit" value="Search" />-->
<!--    </form>-->
<!--</div>-->

</body>
</html>