<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <title>CryoNotes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <div th:replace="fragments :: page-header"></div>

  <div style="margin-top: 20px; margin-left: 50px; margin-right: 50px">
    <h2>Home</h2>
    <br>
    <div>
      <h3>Components</h3>
        <div class="row justify-content-start">

          <div class="card mx-2 mb-3" style="width: 18rem;">
            <a th:href="@{/samples}">
              <img class="card-img-top" src="https://www.w3schools.com/images/picture.jpg" alt="Samples">
            </a>
            <div class="card-body">
              <p class="card-text">Description of samples</p>
            </div>
          </div>

          <div class="card mx-2 mb-3" style="width: 18rem;">
            <a th:href="@{/samples}">
              <img class="card-img-top" src="https://www.w3schools.com/images/picture.jpg" alt="Samples">
            </a>
            <div class="card-body">
              <p class="card-text">Description of microscopes</p>
            </div>
          </div>

          <div class="card mx-2 mb-3" style="width: 18rem;">
            <a th:href="@{/samples}">
              <img class="card-img-top" src="images/temp.jpg" alt="Samples">
            </a>
            <div class="card-body">
              <p class="card-text">Description of grids</p>
            </div>
          </div>

        </div>
    </div>
    <br>
    <div>
      <h3>Experiments</h3>

      <div class="row justify-content-start">

        <div class="card mx-2 mb-3" style="width: 18rem;">
          <a th:href="@{/screenings}">
            <img class="card-img-top" src="https://www.w3schools.com/images/picture.jpg" alt="Samples">
          </a>
          <div class="card-body">
            <p class="card-text">Description of screenings</p>
          </div>
        </div>

        <div class="card mx-2 mb-3" style="width: 18rem;">
          <a th:href="@{/screenings}">
            <img class="card-img-top" src="https://www.w3schools.com/images/picture.jpg" alt="Samples">
          </a>
          <div class="card-body">
            <p class="card-text">Description of data collection</p>
          </div>
        </div>

        <div class="card mx-2 mb-3" style="width: 18rem;">
          <a th:href="@{/screenings}">
            <img class="card-img-top" src="images/temp.jpg" alt="Samples">
          </a>
          <div class="card-body">
            <p class="card-text">Description of data processing</p>
          </div>
        </div>

        <div class="card mx-2 mb-3" style="width: 18rem;">
          <a th:href="@{/screenings}">
            <img class="card-img-top" src="images/temp.jpg" alt="Samples">
          </a>
          <div class="card-body">
            <p class="card-text">Description of refinement</p>
          </div>
        </div>

        <div class="card mx-2 mb-3" style="width: 18rem;">
          <a th:href="@{/screenings}">
            <img class="card-img-top" src="images/temp.jpg" alt="Samples">
          </a>
          <div class="card-body">
            <p class="card-text">Description of validation</p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div th:replace="fragments :: page-footer"></div>

</body>
</html>