<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>CryoNotes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<div style="margin-top: 60px; margin-bottom: 50px; margin-left: 50px; margin-right: 50px">
    <div th:replace="fragments :: go-back"></div>

    <div class="d-flex">
        <div><h2 th:text="'Screening for: ' + ${singleItem.name}"></h2></div>
    </div>

    <form>
        <fieldset disabled>
            <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="date" class="form-control" th:field="*{singleItem.date}">
            </div>
            <div class="mb-3">
                <label class="form-label">Sample name</label>
                <input type="text" class="form-control" th:value="${singleItem.name}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Sample category</label>
                <input type="text" class="form-control" th:value="${singleItem.category}">
            </div>
            <div class="mb-3">
                <label class="form-label">Created by</label>
                <input type="text" class="form-control" th:value="${singleItem.creator}">
            </div>
            <div class="mb-3">
                <label class="form-label">Microscope</label>
                <input type="text" class="form-control" th:value="${singleItem.microscope}">
            </div>
            <div class="mb-3">
                <label class="form-label">Grid</label>
                <input type="text" class="form-control" th:value="${singleItem.grid}">
            </div>
            <div class="mb-3">
                <label class="form-label">Result</label>
                <input type="text" class="form-control" th:value="${singleItem.result}">
            </div>
            <div class="mb-3">
                <label class="form-label">Data collection</label>
                <input type="text" class="form-control" th:value="${singleItem.wasCollected}">
            </div>
            <div class="mb-3">
                <label class="form-label">Storage</label>
                <input type="text" class="form-control" th:value="${singleItem.wasStored}">
            </div>
            <div class="mb-3">
                <label class="form-label">Comments</label>
                <input type="text" class="form-control" th:value="${singleItem.comments}">
            </div>
        </fieldset>
    </form>
</div>

<div th:replace="fragments :: page-footer"></div>
</body>
</html>
