<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - CryoNotes</title>
</head>
<body>
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post">
        <div>
            <div>
                <label>First Name: </label>
                    <input type="text" th:field="*{firstName}" required minlength="2" maxlength="20"/>
            </div>
            <div>
                <label>Last Name: </label>
                    <input type="text" th:field="*{lastName}" required minlength="2" maxlength="20" />
            </div>
            <div>
                <label>E-mail: </label>
                    <input type="email" th:field="*{email}" required />
            </div>
            <div>
                <label>Password: </label>
                    <input type="password" th:field="*{password}" required minlength="6" maxlength="10"/>
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</body>
</html>